body {
  text-align: center;
  background-color: #deb887;
  font-family: Futura;
}

header { /*margin to offer more separation in case I want to add a navigation, more pages, but carry this section throughout site*/
  font-size:30px;
  font-family:Futura;
  margin-bottom:50px;
}

h1, h2, h3, h4, h5, h6 { /*merging classes to assign all headers with their respective browser font sizing, and carry the visual theme throughout*/
  text-transform: uppercase;
  font-family: Futura;
  color: #fff;
  margin-bottom:0px;
}

div ul { /*keeping bullets within the box versus aligned with content box*/
  list-style-type: circle;
  list-style-position:inside;
  padding-left:0px;
}

div.article { /*trying to keep left-right box more closely wrapped to text. Would look terrible on mobile*/
  border: 5px solid #fff;
  padding:0px;
  margin:25px 250px;
}

div.article a:link{
  color: #F5F5F5;
}

div.article a:visited{
  color: #b8860b;
}

div.article a:hover{
  color: #DAA520;
}

div.article a:active{
  color: #FAF0E6;
  cursor: pointer; /*technically, only need it here since this superposes?*/
}


/*div.header {
  border: 5px solid #fff;
  padding-left:50px;
  padding-right:50px;
}

div.footer {
  border: 5px solid #fff;
  padding: -50%;
  margin:50px 25px 0px 25px;
}*/

.border-box { /*trying to answer for div article margin and padding for mobile, smaller devices, and windows. */
  box-sizing: border-box;
}

div article img { /*trying to keep caption very close to picture*/
  padding-bottom:-15px;
  margin-bottom:-15px;
}
