body {
  text-align: center;
  background-color: #deb887;
  font-family: Futura;
}

header {
  font-size:30px;
  font-family:Futura;
  margin-bottom:50px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Futura;
  color: #fff;
  margin-bottom:0px;
}

div ul {
  list-style-type: circle;
  list-style-position:inside;
  padding-left:0px;
}

div.article {
  border: 5px solid #fff;
  padding:0px;
  margin:25px 250px;
}

div.article a:link{
  color: #F5F5F5;
}

div.article a:visited{
  color: #b8860b;
}

div.article a:hover{
  color: #DAA520;
}

div.article a:active{
  color: #FAF0E6;
}

/*div.header {
  border: 5px solid #fff;
  padding-left:50px;
  padding-right:50px;
}

div.footer {
  border: 5px solid #fff;
  padding: -50%;
  margin:50px 25px 0px 25px;
}*/

.border-box {
  box-sizing: border-box;
}

div article img {
  padding-bottom:-15px;
  margin-bottom:-15px;
}
